.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}

.footer a {
  /* color: hsl(0, 0%, 100%) */
  color: inherit;
}

@media (width <= 500px) {
  .footer  {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}